<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="iban-header">{{ iban }}</h2>
  </div>
  <div *ngFor="let date of groupedTransactions | keyvalue">
    <ul class="list-group">
      <li
        class="list-group-item text-start text-muted date-header mt-3"
        style="background-color: #f8f9fa; cursor: default;"
      >
        {{ date.key }}
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
        *ngFor="let transaction of date.value"
        (click)="viewTransactionDetails(transaction, iban!)"
        style="cursor: pointer;"
      >
        <div>
          <h5 class="mb-1">
            <span class="iban-small">
              {{ transaction.senderIBAN === iban ? 'To: ' + transaction.receiverIBAN : 'From: ' + transaction.senderIBAN }}
            </span>
          </h5>
          <small class="text-muted">Date: {{ parseDate(transaction.date) }}</small>
        </div>
        <div class="d-flex flex-column text-end" style="min-width: 80px;">
          <span
            class="badge rounded-pill"
            [ngClass]="{'bg-success': transaction.receiverIBAN === iban, 'bg-danger': transaction.senderIBAN === iban}"
          >
            {{ transaction.receiverIBAN === iban ? '+' : '-' }}{{ transaction.amount | currency }}
          </span>
          <span class="text-muted text-nowrap">
                {{ transaction.emission }} kg CO2
              </span>
        </div>
      </li>
    </ul>
  </div>
</div>
