<div class="login-container d-flex flex-column align-items-center justify-content-center position-relative">
  <div class="error-message-top" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <div class="pin-dots">
    <span *ngFor="let dot of pinDots" class="dot" [class.filled]="dot"></span>
  </div>
  <div class="pin-pad mt-5">
    <div class="row" *ngFor="let row of pinPadRows">
      <button
        *ngFor="let num of row"
        class="pin-btn"
        (click)="onNumberClick(num)"
        [disabled]="pin.length >= maxPinLength"
      >
        {{ num }}
      </button>
    </div>
    <div class="row">
      <button class="pin-btn invisible" disabled></button>
      <button class="pin-btn" (click)="onNumberClick(0)" [disabled]="pin.length >= maxPinLength">0</button>
      <button class="pin-btn bi bi-backspace" (click)="onBackspace()"></button>
    </div>
  </div>
</div>
