.container {
  max-width: 600px;
  margin: auto;
}

.custom-orange-button {
  background-color: var(--primary-orange);
  border-color: var(--primary-orange);
  color: #fff;
}

.custom-orange-button:hover,
.custom-orange-button:focus {
  background-color: #e67c18; /* slightly darker orange */
  border-color: #e67c18;
  color: #fff;
}
