<router-outlet></router-outlet>

<!-- Bottom Navigation Bar -->
<nav class="navbar fixed-bottom navbar-light bg-light border-top">
  <div class="container d-flex justify-content-around">
    <a class="nav-item nav-link text-center" routerLink="main">
      <i class="bi bi-house"></i>
      <span class="d-block">Main</span>
    </a>
    <a class="nav-item nav-link text-center" routerLink="insights">
      <i class="bi bi-bar-chart"></i>
      <span class="d-block">Insights</span>
    </a>
    <a class="nav-item nav-link text-center" routerLink="product">
      <i class="bi bi-box"></i>
      <span class="d-block">Products</span>
    </a>
    <a class="nav-item nav-link text-center" routerLink="transactions">
      <i class="bi bi-arrow-left-right"></i>
      <span class="d-block">Transactions</span>
    </a>
    <a class="nav-item nav-link text-center" routerLink="settings">
      <i class="bi bi-gear"></i>
      <span class="d-block">Settings</span>
    </a>
  </div>
</nav>
