<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Transactions for {{ iban }}</h2>
    <div>
      <button
        class="btn btn-primary rounded-circle me-2"
        (click)="navigateToTransferForm()"
        style="width: 50px; height: 50px;"
        title="Transfer"
      >
        <i class="bi bi-arrow-right-circle"></i>
      </button>
      <button
        class="btn btn-secondary rounded-circle"
        title="Request"
        style="width: 50px; height: 50px;"
      >
        <i class="bi bi-arrow-down-circle"></i>
      </button>
    </div>
  </div>
  <div *ngFor="let date of groupedTransactions | keyvalue">
    <h5 class="text-muted mt-4">{{ date.key }}</h5>
    <ul class="list-group">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
        *ngFor="let transaction of date.value"
        (click)="viewTransactionDetails(transaction, iban!)"
        style="cursor: pointer;"
      >
        <div>
          <h5 class="mb-1">
            {{ transaction.senderIBAN === iban ? 'To: ' + transaction.receiverIBAN : 'From: ' + transaction.senderIBAN }}
          </h5>
          <small class="text-muted">Date: {{ parseDate(transaction.date) }}</small>
        </div>
        <span
          class="badge rounded-pill"
          [ngClass]="{'bg-success': transaction.receiverIBAN === iban, 'bg-danger': transaction.senderIBAN === iban}"
        >
        {{ transaction.receiverIBAN === iban ? '+' : '-' }}{{ transaction.amount | currency }}
      </span>
      </li>
    </ul>
  </div>
</div>
