<div class="container mt-4">
  <div class="d-flex flex-column align-items-center mb-4">
    <h2 class="text-center">Transaction Details</h2>
  </div>
  <div class="mb-3 d-flex justify-content-center">
    <button
      class="btn rounded-pill px-4 py-2 custom-orange-button"
      type="button"
      id="categoryDropdown"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      style="font-size: 0.9rem;"
    >
      {{ transaction.category === 'Other' ? 'Group this yourself' : transaction.category }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
      <li *ngFor="let category of categories">
        <button class="dropdown-item" (click)="selectCategory(category)">
          {{ category }}
        </button>
      </li>
    </ul>
  </div>
  <div class="card shadow-lg">
    <div class="card-body">
      <div class="mb-3">
        <p><strong>Amount:</strong></p>
        <h5 class="text-success" *ngIf="transaction.receiverIBAN === iban">
          +{{ transaction.amount | currency }}
        </h5>
        <h5 class="text-danger" *ngIf="transaction.senderIBAN === iban">
          -{{ transaction.amount | currency }}
        </h5>
      </div>
      <div class="mb-3">
        <p><strong>Date:</strong></p>
        <h5>{{ parseDate(transaction.date) }}</h5>
      </div>
      <hr />
      <div class="mb-3">
        <p><strong>From:</strong></p>
        <h5>{{ transaction.senderName }}</h5>
        <h6>{{ transaction.senderIBAN }}</h6>
      </div>
      <div class="mb-3">
        <p><strong>To:</strong></p>
        <h5>{{ transaction.receiverName }}</h5>
        <h6>{{ transaction.receiverIBAN }}</h6>
      </div>
    </div>
  </div>
</div>
