<div class="header-card-full shadow-sm mb-0">
  <div class="card-body text-left">
    <h2 class="card-title mb-0">Carbon footprint</h2>
  </div>
</div>
<div class="container mt-4">
  <div *ngIf="categoryData && Object.keys(categoryData).length > 0; else loading">
    <!-- Horizontal Scrollable Period List -->
    <div class="period-list-container mb-3">
      <ul class="list-inline d-flex">
        <li *ngFor="let period of Object.keys(categoryData)" class="list-inline-item me-2">
          <button
            class="btn btn-outline-primary"
            [class.active]="period === selectedPeriod"
            (click)="selectPeriod(period)">
            {{ period }}
          </button>
        </li>
      </ul>
    </div>

    <!-- Category List for Selected Period -->
    <div *ngIf="selectedPeriod">
      <ul class="list-group">
        <li *ngFor="let category of Object.keys(categoryData[selectedPeriod])" class="list-group-item" (click)="navigateToTransactions(category)">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <i [ngClass]="getCategoryIcon(category)" class="me-2" style="font-size: 1.4rem;"></i>
              <h5 class="mb-1" style="font-size: 1.1rem;">{{ category }}</h5>
            </div>
            <div class="d-flex flex-column text-end" style="min-width: 80px;">
              <span class="badge bg-success mb-1 text-nowrap">
                {{ categoryData[selectedPeriod][category].amountSum | currency:'EUR':'symbol' }}
              </span>
              <span class="text-muted text-nowrap">
                {{ categoryData[selectedPeriod][category].emissionSum }} kg CO2
              </span>
            </div>
          </div>
        </li>
        <!-- Total Row for Selected Period -->
        <li class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="mb-1">Total</h5>
            <div class="d-flex flex-column text-end" style="min-width: 80px;">
              <span class="badge  mb-1 text-nowrap" style="background-color: var(--primary-orange);">
                {{ getTotalValuesForPeriod(selectedPeriod).totalAmount | currency:'EUR':'symbol' }}
              </span>
              <span class="text-muted text-nowrap">
                {{ getTotalValuesForPeriod(selectedPeriod).totalEmission }} kg CO2
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <ng-template #loading>
    <p>Loading category data...</p>
  </ng-template>
</div>
