.period-list-container {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.period-list-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.period-list-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.period-list-container .btn-outline-primary {
  --bs-btn-color: var(--primary-orange);
  --bs-btn-border-color: var(--primary-orange);
  --bs-btn-hover-bg: var(--primary-orange);
  --bs-btn-hover-border-color: var(--primary-orange);
  --bs-btn-hover-color: #fff;
  --bs-btn-active-bg: var(--primary-orange);
  --bs-btn-active-border-color: var(--primary-orange);
  --bs-btn-active-color: #fff;
}
