<div class="container mt-5">
  <h2 class="text-center mb-4">Insights</h2>
  <form>
    <div class="form-group mb-3">
      <label for="iban">IBAN</label>
      <select id="iban" class="form-control" [(ngModel)]="formData.iban" name="iban" (ngModelChange)="onFormChange()" required>
        <option *ngFor="let iban of ibans" [value]="iban">{{ iban }}</option>
      </select>
    </div>
    <div class="form-row d-flex justify-content-between mb-3">
      <div class="form-group flex-fill me-2">
        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" class="form-control" [(ngModel)]="formData.startDate" name="startDate" (ngModelChange)="onFormChange()" required/>
      </div>
      <div class="form-group flex-fill me-2">
        <label for="endDate">End Date</label>
        <input type="date" id="endDate" class="form-control" [(ngModel)]="formData.endDate" name="endDate" (ngModelChange)="onFormChange()" required/>
      </div>
      <div class="form-group flex-fill">
        <label for="periodBin">Period Bin</label>
        <select id="periodBin" class="form-control" [(ngModel)]="formData.periodBin" name="periodBin" (ngModelChange)="onFormChange()" required>
          <option value="day">Daily</option>
          <option value="week">Weekly</option>
          <option value="month">Monthly</option>
          <option value="year">Yearly</option>
        </select>
      </div>
    </div>
  </form>
  <div class="d-flex justify-content-center align-items-center mt-5" style="height: 300px;">
    <div style="position: relative; width: 70%; height: 100%;">
      <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [legend]="lineChartLegend"
              [type]="lineChartType"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>
</div>
