<div class="header-card-full shadow-sm mb-0">
  <div class="card-body d-flex justify-content-between align-items-center">
    <h2 class="card-title mb-0">Insights</h2>
    <button
      class="btn btn-primary transfer-btn rounded-circle ms-2"
      (click)="redirectToFootprint()"
      style="width: 45px; height: 45px;"
    >
      <i class="bi bi-leaf"></i>
    </button>
  </div>
</div>
<div class="container mt-3" style="padding-bottom: 90px">
  <form>
    <div class="form-group mb-3">
      <label for="iban">IBAN</label>
      <select id="iban" class="form-control" [(ngModel)]="formData.iban" name="iban" (ngModelChange)="onFormChange()" required>
        <option *ngFor="let iban of ibans" [value]="iban">{{ iban }}</option>
      </select>
    </div>
    <div class="form-row d-flex justify-content-between mb-3">
      <div class="form-group flex-fill me-2">
        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" class="form-control" [(ngModel)]="formData.startDate" name="startDate" (ngModelChange)="onFormChange()" required/>
      </div>
      <div class="form-group flex-fill me-2">
        <label for="endDate">End Date</label>
        <input type="date" id="endDate" class="form-control" [(ngModel)]="formData.endDate" name="endDate" (ngModelChange)="onFormChange()" required/>
      </div>
    </div>
    <div class="form-row mb-3">
      <div class="form-group flex-fill">
        <label for="periodBin">Period</label>
        <select id="periodBin" class="form-control" [(ngModel)]="formData.periodBin" name="periodBin" (ngModelChange)="onFormChange()" required>
          <option value="day">Daily</option>
          <option value="week">Weekly</option>
          <option value="month">Monthly</option>
          <option value="year">Yearly</option>
        </select>
      </div>
    </div>
  </form>

  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Your Spending</h5>
      <div class="mb-3">
        <label class="form-label">In Amount: {{ inAmount | currency:'EUR':'symbol' }}</label>
        <div class="progress">
          <div
            class="progress-bar bg-success"
            role="progressbar"
            [style.width.%]="getInAmountPercentage()"
            [attr.aria-valuenow]="getInAmountPercentage()"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
      <div>
        <label class="form-label">Out Amount: {{ outAmount | currency:'EUR':'symbol' }}</label>
        <div class="progress">
          <div
            class="progress-bar bg-danger"
            role="progressbar"
            [style.width.%]="getOutAmountPercentage()"
            [attr.aria-valuenow]="getOutAmountPercentage()"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Spending Progression</h5>
      <div class="d-flex justify-content-center align-items-center" style="height: 300px">
        <div style="position: relative; width: 70%; height: 90%;">
          <canvas baseChart
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [legend]="lineChartLegend"
                  [type]="lineChartType"
                  [plugins]="lineChartPlugins">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
