/* src/styles.css */

/* Define a refined color palette */
:root {
  --primary-orange: #ff7f50; /* Coral orange */
  --secondary-blue: #4682b4; /* Steel blue */
  --text-dark: #333;
}

h1, h2, h3, h4, h6 {
  color: var(--text-dark);
}

i {
  color: var(--secondary-blue);
}

svg {
  fill: var(--primary-orange);
  stroke: var(--secondary-blue);
}

button.transfer-btn, .btn.transfer-btn {
  background-color: var(--secondary-blue) !important; /* Button background */
  color: white !important; /* Text and icon color */
  border: none;
  font-weight: bold;
  padding: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%; /* Make it a circle */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

button.transfer-btn i {
  color: white !important; /* Arrow color */
}

button.transfer-btn:hover, .btn.transfer-btn:hover {
  background-color: var(--primary-orange) !important; /* Change background on hover */
}

.nav-link {
  color: var(--text-dark);
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link i {
  color: var(--text-dark);
  transition: color 0.3s;
}

.nav-link.active-link {
  color: var(--text-dark);
}

.nav-link.active-link i {
  color: var(--primary-orange);
}
