<div class="header-card-full shadow-sm mb-0">
  <div class="card-body text-left">
    <h2 class="card-title mb-0">Settings</h2>
  </div>
</div>
<div class="container mt-4">
  <div class="card p-3 shadow-sm">
    <h3>Profile</h3>
    <p><strong>Name:</strong> {{ userName }}</p>
  </div>

  <div class="mt-4">
    <ul class="list-group">
      <li class="list-group-item"><a routerLink="/personal-details" class="text-decoration-none">Personal Details</a></li>
      <li class="list-group-item"><a routerLink="/documents" class="text-decoration-none">Documents</a></li>
      <li class="list-group-item"><a routerLink="/access-security-privacy" class="text-decoration-none">Access Security and Privacy</a></li>
      <li class="list-group-item"><a routerLink="/payment-accounts" class="text-decoration-none">Payment Accounts</a></li>
      <li class="list-group-item"><a routerLink="/debit-cards" class="text-decoration-none">Debit Cards</a></li>
      <li class="list-group-item"><a routerLink="/credit-cards" class="text-decoration-none">Credit Cards</a></li>
      <li class="list-group-item"><a routerLink="/notifications" class="text-decoration-none">Notifications</a></li>
    </ul>
  </div>

  <button (click)="logout()" class="btn btn-danger w-100 mt-4">Log Out</button>
</div>
